<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
    <% if (locals.user) { %>
        <h2>Welcome <%= user.first_name %> <%= user.last_name %></h2>
        <a href="/logout">
            <button>Log Out</button>
        </a>
        <a href="/message/<%= user.user_id %>">
            <button>New Message</button>
        </a>
        <a href="/secret/<%= user.user_id %>">
            <button>Enter secret code</button>
        </a>
    <% } else { %>
        <a href="/login">
            <button>Log In</button>
        </a>
        <a href="/sign-up">
            <button>Register</button>
        </a>
    <% } %>
    <% if (locals.messages) { %>
        <% messages.forEach((message) => { %>
            <div>
                <h1><%= message.first_name %> <%= message.last_name %></h1>
                <% if (locals.user && (locals.user.membership === 'member' || locals.user.membership === 'admin')) { %>
                    <h2><%= message.title %></h2>
                    <p><%= message.text %></p>
                <% } %>
                <p><%= message.timestamp.toLocaleString() %></p>
                <% if (locals.user && locals.user.membership === 'admin') { %>
                    <a href="/message/<%= message.message_id %>/delete">
                        <button>Delete Message</button>
                    </a>
                <% } %>
            </div>
        <% }); %>
    <% } %>
    </body>
</html>