<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <%- include('./partials/formErrors.ejs') %>
        <main>
            <div class="user-buttons">
                <a href="/">
                    <button>Back to home</button>
                </a>
            </div>
            <div class="form-container">
                <form action="/secret/<%= id %>" method="POST">
                    <label for="secretCode">What is the secret code?</label>
                    <input type="text" name="secretCode" id="secretCode">
                    <button type="submit">Try Code</button>
                </form>
            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>